ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background:#242424; 
/*    margin:auto auto 0px 0px;*/
/*    width: 400;*/
    
}



li:not(:last-of-type){
    display: inline;
    float: left;
    margin: 0;
    
}

li:first-of-type{
    margin: 0px 41% 0px 5px;
}
li:last-of-type{
    margin: 0px 5px 0px 41%;
}
li a{
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

li:hover{
    
}

nav{
    
}